html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
}

.header__list {
  display: flex;
  position: relative;
  z-index: 3;
  li{
    list-style: none;
    margin: 0px 0px 0px 20px;
  }
}
.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 767px){
  body{
    &.lock{
      overflow: hidden;
    }
  }
  .header__body{
    height: 50px;
  }
  .header__logo{
    flex: 0 0 20px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    &.active{
      &::before{
        content: '';
        transform: rotate(45deg);
        top: 9px;
      }
      &::after{
        content: '';
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span{
        transform: scale(0);
      }
    }
    &::before{
      top: 0;
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &::after{
      bottom: 0;
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    span{
      position: absolute;
      background-color: #fff;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 10px;
      transition: all 0.3s ease 0s;
    }
  }
  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #18b5a4;
    z-index: 2;
    padding: 60px 0px 0px 0px;
    &.active{
      top: 0;
    }
  }
  .header__list{
    display: block;
    li{
      margin: 0px 0px 20px 0px;
    }
  }
  .header__link {
    font-size: 24px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e5373;
    z-index: 3;
  }
  .container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  .header__logo {
    flex: 0 0 40px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 3;
    img{
      max-width: 100%;
      display: block;
    }
  }
  .header__burger {
  }
  .header__menu {

  }

}


.content {
  padding: 100px 0px 0px 0px;
  .container{

  }
  .content__text {
    font-size: 18px;
    line-height: 25px;
    p{
      margin: 0px 0px 20px 0px;
    }
  }
}

@media (max-width:767px){
  content {
    padding: 70px 0px 0px 0px;
  }
}
